
form
  input#address(type='text')
  select#typ
    option(value='i') int
    option(value='f') float
    option(value='s') string
    option(value='n') none
  input#args(type='text')
  input(type='submit')
hr
#logarea
